textarea#content, textarea#comment {
	float: left;
	padding: 20px 20px 20px 20px;
	border-style: none; 
    border-color: Transparent; 
    overflow: auto; 
    background-color:	#E8E8E8;
}
.row{

}

 #buttons {
  	float:right;
  }

.name{
	 font:bold 12px Verdana, Tahoma, "Nimbus Sans L", arial, sans-serif;
	 background-color:	#CFCFCF;
	 padding: 10px 20px 20px 10px;
	 height:30px;
	 color:#0000AB;
	 border: 1px outset #CFCFCF ;
	 border-top-right-radius: .8em;
	 border-top-left-radius: .8em;
	 border:3px outset transparent;

}
.delete{
	float:right;
}
.comment{
  font:normal 12px Verdana, Tahoma, "Nimbus Sans L", arial, sans-serif;
  background-color:	#E8E8E8;
 padding: 20px 20px 20px 20px;
  height:auto;
  border-bottom-right-radius: .8em;
  border-bottom-left-radius: .8em;
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		white-space: pre-wrap;       /* css-3 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
		word-break: break-all;
		white-space: normal;
}

table{
	width:100%;
}	
.date{
	float:right;
}
.content{
	margin:auto;
	width:80%;
}
#title{
	font-size:20px;
	width:600px;
	padding-bottom:25px;
	white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
		white-space: -pre-wrap;      /* Opera 4-6 */
		white-space: -o-pre-wrap;    /* Opera 7 */
		white-space: pre-wrap;       /* css-3 */
		word-wrap: break-word;       /* Internet Explorer 5.5+ */
		word-break: break-all;
		white-space: normal;
}
