body {
	padding-top: 50px;
}

.bootstrap-select > .btn {
	height: 25px;
	padding-top: 2px;
}

.bootstrap-select.btn-group {
	margin-bottom: 0px !important;
}

#sidebar {
	padding-top: 135px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}
.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}
textarea#content, textarea#comment{

	float:left;
   margin-left:12px;
   width:520px;
   padding:0px 20px 0px 30px;
   border-radius:10px;
	border-top:10px solid transparent;
	border-left:10px solid transparent;
   border-bottom:10px solid transparent;
      border-right: 12px solid #FFF;
	box-shadow:1px 1px 5px rgba(0,0,0,.2);
	 margin-top:20px;
}