body {
	padding-top: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

td {
	vertical-align: middle !important;
}

textarea#content, textarea#comment {
	float: left;
	margin-left: 12px;
	width: 520px;
	padding: 0px 20px 0px 30px;
	border-radius: 10px;
	border-top: 10px solid transparent;
	border-left: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right: 12px solid #FFF;
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);
	margin-top: 20px;
}

#sidebar {
	padding-top: 135px;
}

.bootstrap-select > .btn {
	height: 25px;
	padding-top: 2px;
}

.bootstrap-select.btn-group {
	margin-bottom: 0px !important;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity=0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.edit_btn{
        display:block;
        background-image: url('img/edit-icon3.png');
        background-size: contain;
        width: 15px !important;
        height:15px !important;
        float:right;
		
        margin: 3px;
        font-weight: 2em;
    }
    .delete_btn{
        display:block;
        background-image: url('img/editing-delete-icon.png');
        background-size: contain;
        width: 15px !important;
        height:15px !important;
        float:right;
        margin: 3px;
    }
    .reviewContainer textarea {
        resize: none;
        margin-top:10px;
        margin-left:15px;
		margin-bottom: 3px;
        border: none;
        background: #fff;
        color: #333;
        border: 1px solid #ccc;
		font-size: 8pt;
    }
	.cancel_btn, .save_btn{
		background: #ec971f;
		padding: 5px;
		font-size: 9pt;
		color: #fff;
		border-radius: 4px;
	}
	.cancel_btn{
		background: #ec971f;
		margin-left:15px;
		margin-right: 2px;
	}
	.save_btn{
		background: #31b0d5;
	}
	.cancel_btn:hover, .save_btn:hover{
		text-decoration: none;
		color: #fff;
	}
  .reviewContainer{
    position: relative;
    width: 215px;
    height: 105px;
    padding: 0px;
    background: #f5f5f5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	margin-top: 5px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 5px rgba(0,0,0,.2);
}

  .reviewContainer:after  {
      content: "";
    position: absolute;
    top: 7px;
    left: -25px;
    border-style: solid;
    border-width: 7px 25px 7px 0;
    border-color: transparent #CCCCCC;
    display: block;
    width: 0;
    z-index: 1;
}